<style>
	html {
		text-align: center
	}
	.body {
		width: 70%;
		background-color: #5370B3;
		margin: 0 auto;
	}
</style>

<h2>Trips</h2>

<% @stops.each do |stop| %>

<h2><%= stop.location %></h2>


<div class="head"/>
	<div class="stop" id="airport" style= "background-image: url('<%= (stop.airport_pic) %>');">
		<div class="text"><%= stop.airport %></div>
	</div>
	<div class="stop" id="rest" style= "background-image: url('<%= (stop.rest_pic) %>');">
		<div class="text"><%= stop.rest %></div>
	</div>
	<div class="stop" id="hotel" style= "background-image: url('<%= (stop.hotel_pic) %>');">
		<div class="text"><%= stop.hotel %></div>
	</div>
</div>

<h2><%= stop.title.upcase %> | <%= stop.created_at.to_date %></h2>
<div class="body"><p><%= stop.body %></p></div>

<% end %>